.alottazoom-wrapper {
  overflow: hidden;
  position: relative;
  clip: rect(0 0 0 0) !important;
}

.alottazoom-wrapper > * {
  position: absolute;
  margin: 0;
  padding: 0;
}

.alottazoom-wrapper .marker {

}

.alottazoom-pin {

}

